<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
        <udm-uri>http://${NODE_IP}:${UDM_PORT}</udm-uri>
	<home-plmn>
          <default-home-plmn-id>
            <mcc>111</mcc>
            <mnc>222</mnc>
          </default-home-plmn-id>
          <home-plmn>
            <mcc>111</mcc>
            <mnc>222</mnc>
          </home-plmn>
          <home-plmn>
            <mcc>333</mcc>
            <mnc>44</mnc>
          </home-plmn>
          <home-plmn>
            <mcc>240</mcc>
            <mnc>81</mnc>
          </home-plmn>
          <home-plmn>
            <mcc>460</mcc>
            <mnc>000</mnc>
          </home-plmn>
        </home-plmn>	

	<!-- Container roaming -->
        <roaming>
          <visited-plmn>
            <allowed>true</allowed>
            <visited-plmn>
              <mcc>240</mcc>
              <mnc>81</mnc>
            </visited-plmn>
            <visited-plmn>
              <mcc>460</mcc>
              <mnc>000</mnc>
            </visited-plmn>
          </visited-plmn>
        </roaming>
        <!-- Container nf-profile state the Network Function profile -->
        <udr-handling>
            <max-connection-reattempts>3</max-connection-reattempts>
            <connection-timeout>200</connection-timeout>
            <heartbeat-consecutive-errors>2</heartbeat-consecutive-errors>
            <heartbeat-timer>5</heartbeat-timer>
        </udr-handling>      
        <nf-profile>
            <ipv4-address>${NODE_IP}</ipv4-address>
            <instance-id>841d1b7c-5103-11e9-8c09-174c95907e28</instance-id>
            <requested-status>registered</requested-status>
            <snssai>
                <id>0</id>
                <sst>0</sst>
                <sd>abAB01</sd>
            </snssai>
            <priority>0</priority>
            <capacity>1000</capacity>
            <locality>SH</locality>
            <udm-info>
                    <group-id>groupid-000001</group-id>
		<!--
                  States the list of SUPI ranges:
                  If supi-start and supi-end are not defined,
                  it will accept all SUPIs
                -->
                <supi-range>
                    <id>1</id>
                    <supi-start>240810000000001</supi-start>
                    <supi-end>240819999999999</supi-end>
                </supi-range>
                <gpsi-range>
                    <id>1</id>
                    <identity-start>240810000000001</identity-start>
                    <identity-end>240819999999999</identity-end>
                </gpsi-range>
                <routing-indicator>0000</routing-indicator>
            </udm-info>
	    <!--
              List of Service containers that the VNF exposes.
              - instance-id: Unique service instance id
              - name: Service name
              - scheme: http or https
              - fqdn: Fully Qualified Domain Name
              - ip-endpoint: IP addresse and port information of the
                exposed service (including IPv4 and/or IPv6 address)
              - allowed-nf-type: NFs allowed to consume the service
            -->
            <service>
                <instance-id>nudm-sdm</instance-id>
                <name>nudm-sdm</name>
                <scheme>http</scheme>
                <requested-status>registered</requested-status>
                <ip-endpoint>
                    <id>1</id>
		    <ipv4-address>${NODE_IP}</ipv4-address>
                    <transport>tcp</transport>
                    <port>${UDM_PORT}</port>
                </ip-endpoint>
                <allowed-nf-type>amf</allowed-nf-type>
                <allowed-nf-type>smf</allowed-nf-type>
                <allowed-nf-type>smsf</allowed-nf-type>
            </service>
            <service>
                <instance-id>nudm-ueau</instance-id>
                <name>nudm-ueau</name>
                <scheme>http</scheme>
                <requested-status>registered</requested-status>
                <ip-endpoint>
                    <id>1</id>
                    <ipv4-address>${NODE_IP}</ipv4-address>
                    <transport>tcp</transport>
                    <port>${UDM_PORT}</port>
                </ip-endpoint>
                <allowed-nf-type>ausf</allowed-nf-type>
            </service>
            <service>
                <instance-id>nudm-uecm</instance-id>
                <name>nudm-uecm</name>
                <scheme>http</scheme>
                <requested-status>registered</requested-status>
                <ip-endpoint>
                    <id>1</id>
        	    <ipv4-address>${NODE_IP}</ipv4-address>
                    <transport>tcp</transport>
                    <port>${UDM_PORT}</port>
                </ip-endpoint>
                <allowed-nf-type>amf</allowed-nf-type>
                <allowed-nf-type>smf</allowed-nf-type>
                <allowed-nf-type>smsf</allowed-nf-type>
                <allowed-nf-type>udr</allowed-nf-type>
            </service>
        </nf-profile>
      </udm>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
        <ciphering-data>
          <seed>31d55c51125207a4750c2abdb4af967031d55c51125207a4750c2abdb4af9670</seed>
        </ciphering-data>
      </udm>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <ciphering-data>
        <set-customer-key>
          <customer-key>4A9CD69C48167BD6276ED340EB24E388</customer-key>
        </set-customer-key>
      </ciphering-data>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <edit-config>
    <target><running/></target>
    <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
      <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
        <arpf>
          <usim-requesting-node-type>
            <id>gan-aaa-server</id>
            <initial-ind-value>10</initial-ind-value>
            <end-ind-value>12</end-ind-value>
          </usim-requesting-node-type>
          <usim-requesting-node-type>
            <id>ausf</id>
            <initial-ind-value>25</initial-ind-value>
            <end-ind-value>25</end-ind-value>
          </usim-requesting-node-type>
          <usim-requesting-node-type>
            <id>bsf</id>
            <initial-ind-value>13</initial-ind-value>
            <end-ind-value>15</end-ind-value>
          </usim-requesting-node-type>
          <usim-requesting-node-type>
            <id>s-cscf</id>
            <initial-ind-value>29</initial-ind-value>
            <end-ind-value>31</end-ind-value>
          </usim-requesting-node-type>
          <usim-requesting-node-type>
            <id>mme</id>
            <initial-ind-value>26</initial-ind-value>
            <end-ind-value>28</end-ind-value>
          </usim-requesting-node-type>
          <usim-requesting-node-type>
            <id>wlan-aaa-server</id>
            <initial-ind-value>7</initial-ind-value>
            <end-ind-value>9</end-ind-value>
          </usim-requesting-node-type>
        </arpf>
      </udm>
    </config>
  </edit-config>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <sidf>
        <set-hn-key>
          <hn-key-ind>2</hn-key-ind>
          <protection-scheme-id>2</protection-scheme-id>
          <hn-key-value>C5AD73DB8EFDEE643BF2F653837D2D0EE1E99FE2C4AD77A8C9E515624CC99012</hn-key-value>
        </set-hn-key>
      </sidf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <sidf>
        <set-hn-key>
          <hn-key-ind>2</hn-key-ind>
          <protection-scheme-id>1</protection-scheme-id>
          <hn-key-value>A546E36BF0527C9D3B16154B82465EDD62144C0AC1FC5A18506A2244BA449AC4</hn-key-value>
        </set-hn-key>
      </sidf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <sidf>
        <set-hn-key>
          <hn-key-ind>3</hn-key-ind>
          <protection-scheme-id>1</protection-scheme-id>
          <hn-key-value>C53C22208B61860B06C62E5406A7B330C2B577AA5558981510D128247D38BD1D</hn-key-value>
        </set-hn-key>
      </sidf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <sidf>
        <set-hn-key>
          <hn-key-ind>3</hn-key-ind>
          <protection-scheme-id>2</protection-scheme-id>
          <hn-key-value>F1AB1074477EBCC7F554EA1C5FC368B1616730155E0041AC447D6301975FECDA</hn-key-value>
        </set-hn-key>
      </sidf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <sidf>
        <set-hn-key>
          <hn-key-ind>1</hn-key-ind>
          <protection-scheme-id>1</protection-scheme-id>
          <hn-key-value>0900000000000000000000000000000000000000000000000000000000000000</hn-key-value>
        </set-hn-key>
      </sidf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>0</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>aes-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>1</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>aes-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>2</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>aes-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>0</a4-key-ind>
          <a4-key>0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>des-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>1</a4-key-ind>
          <a4-key>0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>des-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>2</a4-key-ind>
          <a4-key>0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>des-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>0</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>blowfish-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>1</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>blowfish-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-a4-key>
          <a4-key-ind>3</a4-key-ind>
          <a4-key>0123456789ABCDEF0123456789ABCDEF</a4-key>
          <a4-key-encryption-algorithm>blowfish-128-ecb</a4-key-encryption-algorithm>
        </set-a4-key>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <id>0</id>
          <algorithm>milenage</algorithm>
          <name>fset0</name>
          <op>CDC202D5123E20F62B6D676AC72CB318</op>
          <r1>64</r1>
          <r2>0</r2>
          <r3>32</r3>
          <r4>64</r4>
          <r5>96</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <algorithm>milenage</algorithm>
          <id>2</id>
          <name>fset2</name>
          <op>00112233445566778899AABBCCDDEEFF</op>
          <r1>64</r1>
          <r2>0</r2>
          <r3>32</r3>
          <r4>64</r4>
          <r5>96</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <algorithm>milenage</algorithm>
          <id>3</id>
          <name>fset3</name>
          <op>AE54B06C38DD2A4B9947A33FEE1008BC</op>
          <r1>64</r1>
          <r2>0</r2>
          <r3>32</r3>
          <r4>64</r4>
          <r5>96</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  </hello>]]>]]>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="0">
  <action xmlns="urn:ietf:params:xml:ns:yang:1">
    <udm xmlns="urn:rdns:com:ericsson:oammodel:ericsson-udm">
      <arpf>
        <set-f-set>
          <algorithm>milenage</algorithm>
          <id>4</id>
          <name>fset4</name>
          <op>CDC202D5123E20F62B6D676AC72CB318</op>
          <r1>23</r1>
          <r2>20</r2>
          <r3>125</r3>
          <r4>100</r4>
          <r5>30</r5>
        </set-f-set>
      </arpf>
    </udm>
  </action>
  </rpc>
  <close-session/>
